@charset "UTF-8";

@media only screen and (min-width: 768px)  {

    section {
        height: 400px;
        width: 768px;
        flex-direction: row;
        transition: 0.2s;
    }
    section > article#imglogin {
        height: 400px;
        width: 300px;
        background-color: rgb(201, 253, 80);
        border-radius: 40px 0px 0px 40px ;
        transition: 0.2s;
    }
    section > article#arealogin {
        height: 400px;
        width: 500px;
        padding-top: 30px;
        border-radius: 0px 40px 40px 0px ;
        transition: 0.2s;
    }
    section > article#imglogin {
        background-image: url(imagens/subway2.jpg);
        background-position: bottom center;
    }
    .opcoes1 {
        width: 170px;
        height: 20px;
    }

}
