@charset "UTF-8";

@media screen and (min-width: 992px){
    section#back-area {
        height: 900px;
        width: 700px;  
    }
    section > article.imgcad { 
        width: 700px;
        height: 320px;
        background-image: url(../imagens/subway2.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
    form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        transition: 0.2s;
    }
    form > p {
        grid-column: 1/3;
        transition: 0.2s;
    }
    section > form > input.button {
        grid-column: 1/3;
        transition: 0.2s;
    }
}
