@charset "UTF-8";
    @media screen and (min-width:0px) {
    @font-face {
        font-family: fonteh1;
        src: url(../fontes/SimpleThread_PERSONAL_USE_ONLY.otf);}
        @font-face {
            font-family: fontep;
            src: url(../fontes/Sansation_Regular.ttf);
        }
* {
    margin: 0px;
    border: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    background-image: url(../imagens/back2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center ;
    background-attachment: fixed;
}
header {
    width: 330px;
    margin: auto;
    margin-top: 20px;
}
header > i#menu {
    background-color: #000000a4;
    color: #ffffff;
    width: 330px;
    height: 30px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px 5px 0px 0px;
}
header > i#menu:hover {
    transform: translate(2px, -2px);
    box-shadow: 2px 2px 2px black;
    transition: 0.5s;
}
header > nav.flex-box {
    display: none;
    flex-direction: column;
    gap: 2px;
    background-color: #363636a4;
    border-radius: 5px;
}
header > nav > a > div.flex-item {
    background-color: #363636;
    color: rgb(202, 202, 202);
    height: 30px;
    width: 330px;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    font-family: fontep;
}
header > nav > a > div.flex-item:hover {
    background-color: rgb(221, 221, 221);
    color: #363636;
    transform: translate(-2px, -2px);
    transition: 0.5s;
    box-shadow: 2px 2px 2px  rgba(255, 255, 255, 0.473);
}

header > section.head {
    background-color: #363636a4;
    height: 200px;
    border-radius: 0px 0px 5px 5px;
    
}
header > section > h1 {
    font-family: fonteh1;
    font-size: 60px;
    color: #ffffff;
    font-weight: lighter;
    text-align: center;
    padding: 20px;
}
main > section.sec1 {
    height: 1400px;
    width: 330px;
    margin: auto;
    background-color: #fd161600;
    margin-top: 20px;
    font-family: fontep;
} 
main > section > article > img#imgpessoal {
    height: 230px;
    width: 300px;
    margin-left: 15px;
    margin-top: 20px;
    border-radius: 20px;
    position: absolute;
}
main > section > article > h1 {
    font-size: 60px;
    color: rgb(255, 255, 255);
    margin-left: 30px;
    position: absolute;
    margin-top: 230px;
}
main > section > article > p {
    width: 300px;
    padding: 10px;
    border-radius: 10px;
    text-align: justify;
    background-color: #ffffffa4;
    margin-left: 15px;
    position: absolute;
    margin-top: 340px;
    }
main > section > article.article1 {
    height: 530px;
    width: 330px;
    background-color: #363636a4;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 20px;
}
main > section > article > div.container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-content: center;
    grid-auto-rows: 200px 200px;
    border-radius: 5px;
    background-color: #363636;
}
#item1 {

    background-color: rgb(0, 0, 0);
    border-radius: 5px 0px 0px 0px;
}
#item2 {

    background-color: rgb(238, 255, 0);
    border-radius: 0px 5px 0px 0px;
}
#item3 {

    background-color: rgb(94, 255, 0);
    border-radius: 0px 0px 0px 5px;
}
#item4 {

    background-color: rgb(255, 0, 0);
    border-radius: 0px 0px 5px 0px;
}
main > section aside.aside1 {
    display: none;
    height: 820px;
    width: 200px;
    background-color: rgb(84, 58, 179);
    float: right;  
    margin-right: 10px;
    border-radius: 5px;
}
footer {
        height: 30px;
        background-color: #000000a4;
        margin: auto;
        margin-top: 40px;
        margin-bottom: 20px;
        border-radius: 5px;
        font-family: fontep;
        color: white;
        text-align: center;
}
}