@charset "UTF-8";

* {
    margin: 0px;
    border: 0px;
    box-sizing: border-box;
}
:root {
    --lightblue:#64D1F5;
    --blue:#348CA8;
    --lightyellow:#F5EC5E;
    --darkyellow:#ffee00;
    --pink:#F57D9D;
}
body {
    background-image: linear-gradient(to bottom, #5044ff , #8a2be2);
    width: 100vw;
    height: 100vh;
}
section {
    height: 570px;
    width: 250px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.2s;
}
div#info {
    height: 30px;
    width: 30px;
    margin: 0px 20px 20px 0px;
    background-image: url(../imagens/info.png);
    background-size: cover;
    border-radius: 50px;
    cursor: pointer;
    padding: 20px;
}
#blockinfo {
    height: 300px;
    width: 250px;
    background-image: url(../imagens/phone01.png);
    position: absolute;
    margin-left: 50px;
    display: none;
    border-radius: 20px;
    box-shadow: inset 0px 0px 70px 0px black;
    font-family: 'Mulish', sans-serif;
    font-size: 0.9em;
}
#blockinfo a {
    font-weight: bolder;
    text-decoration: underline;
}
#infotext {
height: 200px;
width: 200px;
margin: auto;
margin-top: 20px;
background-color: #ffffff;
padding: 8px;
border-radius: 20px;
}
section > article#imglogin {
    height: 200px;
    width: 250px;
    background-color: rgb(201, 253, 80);
    transition: 0.2s;

}
section > article#arealogin {
    height: 320px;
    width: 250px;
    background-color: white;
    border-radius: 0px 0px 40px 40px ;
}
section > article#imglogin {
    background-image: url(../imagens/subway1.jpg);
    background-position: top center;
    background-size: cover;
    border-radius: 40px 40px 0px 0px;
    transition: 0.2s;
}
section > article h1 {
    text-align: center;
    font-size: 1.5em;
    padding-top: 5px;
    font-family: 'Mulish', sans-serif;
}
section > article p {
    text-align: center;
    margin: 10px 0px 10px 0px;
    font-family: 'Mulish', sans-serif;
}
section > article > form > div.logindata {
    height: 50px;
    width: 230px;
    background-color: #00e0a8;
    margin: auto;
    margin-bottom: 5px;
    border-radius: 10px;
}
.databox {
    position: absolute;
    margin-top: 10px;
    height: 30px;
    width: 170px;
    border-radius: 5px;
}
.iconlogin {
    height: 30px;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 10px;
}
section > article > form > input#entrar {
    height: 30px;
    width: 150px;
    margin-left: 50%;
    margin-top: 10px;
    transform: translate(-50%);
    cursor: pointer;
    border-radius: 5px;
    background-color: rgb(228, 228, 228);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.486);
}
section > article > form > input#entrar:hover {
    background-color: #00e0a8;
    color: black;
    transition: 0.3s;
}
a {
    text-decoration: none;
    color: black;
}
section > article > form > div.opcoes1 {
    margin: auto;
    width: 170px;
    height: 20px;
    cursor: pointer;
}
section > article > form > div.opcoes1:hover {
    background-color: #00e0a86e;
    border-radius: 10px;
}
section > article > form > div > a > p.opcoes2:hover::after {
    content:""; 
    background-image: url("../imagens/acess.png");
    width:20px;
    height:20px;
    background-size:20px 20px;
    background-repeat: no-repeat;
    position:absolute;
}